[Unit]
Description=Alexadra Unit
After=network-up.target

[Service]
Type=forking
# Fill this out before moving this file to /etc/systemd/system
# Don't forget to enable using "systemctl enable alexandra"

# ExecStart = [ ABSOLUTE_PATH_TO_PROJECT/utilities.run.sh ]
# RuntimeDirectory = [ ABSOLUTE_PATH_TO_PROJECT_ROOT ]


[Install]
WantedBy=multi-user.target
