[Unit]
Description=Alexandra Unit
After=network-up.target
 
[Service]
Type=forking
# Fill this out before moving this file to /etc/systemd/system
# Don't forget to enable using "systemctl enable alexandra"
# ExecStart=[ ABSOLUTE_PATH_TO_PROJECT_ROOT/utilities/run.sh ]
 
ExecStart=/root/Workspace/alexandra/utilities/run.sh
 
[Install]
WantedBy=multi-user.target
